<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								单位：<input type="text" name="chnCode" placeholder='请选择单位名称'/>
							</li>
							<li>
								银行账户：<input type="text" name="chnName" placeholder='请选择银行账户'/>
							</li>
							<li>
								对方账户：<input type="text" name="chnName" placeholder='请输入对方银行账户'/>
							</li>
							<li>
								对方户名：<input type="text" name="chnName" placeholder='请输入对方银行账号户名'/>
							</li>
							<li>
								金额：<input type="text" name="chnName" placeholder='请输入金额'/>
							</li>
							<li>
								资金用途：<input type="text" name="chnName" placeholder='请输入资金用途'/>
							</li>
							<li>
								备注：<input type="text" name="chnName" placeholder='请输入备注'/>
							</li>
							<li>
								认领状态：<select name="status">
								<option value="">所有</option>
								<option value='0'>未认领</option>
								<option value='1'>已认领</option>
								<!-- <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option> -->
								</select>
							</li>
							<li class="select-time">
								<label>日期： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>至</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('audit:capitalPool:edit')}]];
    	var removeFlag = [[${@permission.hasPermi('audit:capitalPool:remove')}]];
	</script>
	<script th:src="@{/js/capitalPool/capitalPool.js}"></script>
</body>
</html>